*{
box-sizing: border-box;
margin:0px;
font-family: 'Varela Round', sans-serif;


}
.header {
display: flex;
background-image: url("resources/learn.jpg");
min-height: 700px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center; 

}

.header h2{
font-size: clamp(20px, 15vw, 50px);
margin: 20px 100px;
padding-top: 100px;
color: white;
font-weight: 500;
text-align: center;
}
.header p{
font-size: clamp(10px, 5vw, 25px);
margin: 10px;
font-weight: 50;
text-align: center;
}
nav {
display: flex;
padding: 0px 50px;
position: fixed;
top: 0;
width: 100%;
transition: background-color 0.5s;
flex-wrap: wrap;
}

nav.sticky {
background-color: #8F724C;
z-index: 9999;
}

nav .logo {
display: block;
margin-top: 5px;

}

nav .logo img {
height: 65px;
width: 100%;
}

nav ul {
display: flex;
list-style: none;
flex-wrap: wrap;
justify-content: flex-start;
margin-right: auto; 
}

nav .book-now {
display: flex;
margin-left: auto; 
font-size: 18px;
padding: 0px 20px;
text-decoration: none;
color: #092a5b;
font-weight:600;
align-items: center;
letter-spacing: 1px;
transition: all 0.3s ease;
}

nav ul li {
  padding: 5px 0px;
}

.header nav ul li a {
font-size: 18px;
padding: 0px 20px;
text-decoration: none;
color: #fff;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}

nav .right a{
font-size: 18px;
padding: 0px 20px;
text-decoration: none;
color: #092a5b;
font-weight:600;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}

nav ul li a.active,
.header nav ul li a:hover {
color: #291d0c;
}

nav .menu-button {
color: white;
font-size: 22px;
cursor: pointer;
display: none;
}


.main {
  padding: 20px 70px;
  background-color:#ccb18f;
}


ul {
  list-style-type: square;
  font-size: clamp(5px, 20vw, 20px);
  padding-top: 20px;
}
.info h2 {
  margin-top: 40px;
  font-size: clamp(10px, 5vw, 40px);
  transition: color 0.3s;
}

.info p {
  text-align: justify;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.5;
}

.Insomnia,
.Apnea,
.restless,
.narcolepsy {
  margin-top: 40px;
}

.Insomnia h2,
.Apnea h2,
.restless h2,
.narcolepsy h2 {
  font-size: clamp(10px, 5vw, 40px);
  margin-bottom: 10px;
  transition: color 0.3s;
}

.Insomnia p,
.Apnea p,
.restless p,
.narcolepsy p {
  font-size: clamp(5px, 5vw, 20px);
  line-height: 1.5;
  text-align: justify;
  display: flex;
}
.footer{
  height: 790px;
  background-size: cover;
  text-align: center;
  /* border: 3px solid black; */
  position: relative; 
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container .content {
  position: relative;
  z-index: 1;
  
}

.content h1{
  /* border: 2px solid black; */
  font-size: clamp(15px, 5vw, 40px);
  padding-top: 200px;
  color: #182A48;
}

.content p{
  /* border: 2px solid black; */
  font-size: clamp(10px, 5vw, 25px);
  color: white;
} 

.footer_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #DDB892;
  color:black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 20px;
  margin: 60px 100px;
  border: 1px solid black;
}

.footer_button:hover {
  background-color: #182A48;
  color: white;
  border: solid white;
}


.rec{
  background: #6B4D2E;
  display: flex;
  width: 100%;
  padding: 20px;
  position: absolute; 
  bottom: 0;
  flex-direction: column;
}
.upper{
  display: flex;
  justify-content: center;

}
.column1{
  /* background-color: violet; */
  width: 350px;
  
}
.logo1{
  display: flex;
  width: 40%;
  min-width: 150px;
}
.logo1 img{
  width: 100%;
}
.details{
  width: auto;
}
.details p{
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  color: #000000;
  
}
.links{
  text-align: left;
  /* background-color: yellow; */
  padding-top: 35px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.links h4{
  font-size: clamp(5px, 5vw, 20px);
  color: #000000;
}
.links a{
  font-size: clamp(3px, 5vw, 15px);
  color: black;
  padding-top: 10px;
  text-decoration: none;
}
.links a:hover{
  color: white;
}
.contact{
  /* background-color: aqua; */
  padding-top: 35px;
  width: 400px;
}
.contact h4{
  font-size: clamp(5px, 5vw, 20px) ;
  color: #000000;
}
.contact a{
  text-decoration: none;
}
.contact img{
  width: 70px;
  height: 50px;
  padding-top: 10px;
}
.contact img:hover{
  transform: scale(1.1);
}
.lower{
  border-top: 1px solid black;
}
.lower p{
  padding-top: 8px;
  font-size: 13px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  

  .header h2 {
    margin: 20px;
    padding-top: 50px;
  }

  .header p {
    width: 90%;
    margin: 20px;
  }

  .sec1_button {
    margin: 20px;
  }

  .rectangle {
    padding: 50px;
  }

  .rectangle h1 {
    font-size: 40px;
  }

  .rectangle p {
    font-size: 16px;
  }

  .sec2_button {
    margin-top: 30px;
    font-size: 16px;
  }

  .article2 h3 {
    padding: 20px;
  }

  .footer h1 {
    padding-top: 100px;
  }

  .footer p {
    font-size: 20px;
  }

  .footer_button {
    margin: 20px;
  }

  .rec {
    padding: 20px;
  }

  .details p {
    font-size: 12px;
  }

  .links {
    padding-top: 20px;
  }

  .links h4 {
    font-size: 16px;
  }

  .links a {
    font-size: 12px;
    padding-top: 5px;
  }

  .contact h4 {
    font-size: 16px;
  }

  .contact img {
    width: 45px;
    height: 30px;
    padding-top: 5px;
  }

  .lower p {
    font-size: 11px;
  }
}
@media screen and (max-width: 375px){
  .footer h1{
      padding-top: 100px;
  }
  .upper h4{
      font-size: 15px;
  }
}



@media screen and (max-width:850px){ /* nav */

    
  nav{
      
      padding-left: 55px;
      justify-content: flex-start;
      
  }
  nav .menu-button {
      display: flex;
      background-color: transparent;
      outline: 0px;
      border: none; 
      
      place-items: center;  
  }

  nav .book-now{
      font-size: 20px;
  }

  nav .menu-button h3{
      font-size: 22px;
      font-weight: 100;
      padding: 25px 0;
      margin-left: 30px;
      color: rgb(255, 255, 255);
     
  }

  

  nav ul {
      position: fixed;
      top: 75px;
      left: -100%;
      background: #182A48;
      height: 100vh;
      width: 50%;
      text-align: center;
      display: block;
      transition: all 0.4s ease;
      padding:0;
 
  }

  
  .header nav ul li a {
      width: 100%;
      margin-left: 0px;
      display: block;
      font-size: 20px; 
      color: white;
  }

  nav ul li{
      padding-left: 15px;
  }

  .menu-button:target ~ ul {
      left: 0;
  }

  nav ul li {
      width: 100%;
      margin: 40px 0;
      
  }


  .menu-button:target ~ ul li a
  {
      margin-left: 0px;

  }

  nav ul.show {
      left: 0;
  }
  
  
}

@media screen and (max-width:414px){

  nav{
      padding-left: 25px;
  }

  nav .logo img {
      padding-top: 3px;
      height: 60px;
      

    }
  .header nav ul li a{
      font-size: 13px;
      margin: 0px;
      padding-left: 0px;
      text-align: center;
  }

  
  nav .menu-button h3{
      font-size: 10px;
      font-weight: 100;
      margin-left: 10px;
      
      
     
  }

  nav .book-now{
      font-size: 10px;
      margin-left: 15px;
      padding: 25px 10px;
      
  }

  nav ul {
      top: 70px;

  }

  
  .header nav ul li a {
      width: 100%;
      margin-left: 0px;
      display: block;
      font-size: 20px; 
  }

  nav ul li{
      
      padding-left: 0px;
      align-items: center;
      

  }
}

@media screen and (max-width:870px){
  .header nav ul li a{
      padding: 0px 15px;
      font-size: 17px;
  }
 
}

@media screen and (max-width:510px){
  nav .book-now{
      font-size: 16px;
     
  }

  nav .menu-button h3{
      font-size: 16px;
      font-weight: 100; 
      margin-left: 10px;
     
  }

  nav{
      padding-left: 20px;
  }

}

@media screen and (max-width:370px){
   
  nav .menu-button h3{
      font-size: 15px;
      font-weight: 100;
      margin-left: 10px;
      
  }

  nav .book-now{
      font-size: 15px;
      margin-left: 15px;
      padding: 25 10px;
      
  }
  nav .logo img {
      padding-top: 3px;
      height: 55px;
      
    }
    nav ul {
      top: 65px;

  }
}

@media screen and (max-width:352px){
  nav .book-now{
      font-size: 15px;
      margin-left: 5px;
      padding: 25px 5px;
      
  }
  nav{
      padding: 0 5px 0 25px;
  }
}
